html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url("./assets/images/Cartoon_Clouds.jpg");
  background-repeat: repeat-x;
  background-size: auto 100%;
  animation-name: slide-left;
  animation-duration: 200s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@font-face {
  font-family: 'BigBlue';
  src: url('./assets/fonts/BigParty4Blue-0f5b.woff2') format('woff2');
}

.omfg {
  display: flex;
  font-family: 'BigBlue';
  color: darkgrey;
  text-align: center;
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 380px;
}

.AskGod {
  position: relative;
  height: 80vh;
}

.Ask {
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: drop-ask 1.25s ease forwards;
  margin-bottom: 500px;
}

.God {
  position: absolute;
  top: 75%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: drop-god 2s ease forwards;
} 

@keyframes drop-ask {
  0% {
    top: -50%;
    opacity: 0;
  }
  100% {
    top: 30%;
    opacity: 1;
  }
}

@keyframes drop-god {
  0% {
    top: -50%;
    opacity: 0;
  }
  100% {
    top: 65%;
    opacity: 1;
  }
}

@keyframes slide-left {
  0% {
    background-position: 0 50px;
  }
  100% {
    background-position: 100% 50px;
  }
}

@media only screen and (max-width: 480px) {
  .mobile-font-size {
    font-size: 180px;
  }
}

